@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-light: #7be3c4;
  --color-primary: #3ca381;
  --color-primary-dark: #217a5b;
  --color-dark: #111111;
  --color-gray-light: #e6e6e6;
}

::selection {
  background: var(--color-primary-light);
  color: #fff;
}

@layer base {
  html {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}

.rich-text {
  font-size: 15px;
  color: #7a7b7d;
}

.rich-text p {
  margin-bottom: 16px;
}

.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 24px 0;
}

.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  margin: 24px 0;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 24px 0;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  margin: 24px 0;
}

.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  margin: 24px 0;
}

.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  margin: 24px 0;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
}

input:focus-visible {
  outline: none;
}

input[type="checkbox"], input[type="radio"] {
  accent-color: var(--color-primary);
}

input:focus, textarea:focus, select:focus {
  --tw-ring-color: transparent;
}

button:focus, button:focus-visible,
a:focus, a:focus-visible {
  outline: none;
}

.ql-toolbar .ql-picker-label:hover,
.ql-toolbar .ql-picker-label.ql-active,
.ql-toolbar .ql-picker-item:hover,
.ql-toolbar .ql-picker-item.ql-selected,
.ql-toolbar button:hover .ql-stroke,
.ql-toolbar button:focus .ql-stroke,
.ql-toolbar button:hover .ql-fill,
.ql-toolbar button:focus .ql-fill,
.ql-toolbar button:hover .ql-even,
.ql-toolbar button:focus .ql-even,
.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-toolbar .ql-picker-label:hover .ql-even,
.ql-toolbar .ql-picker-label.ql-active .ql-even,
.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-toolbar .ql-picker-item:hover .ql-even,
.ql-toolbar .ql-picker-item.ql-selected .ql-even {
  stroke: var(--color-primary) !important;
  color: var(--color-primary) !important;
}